InventoryWCFConsumer/Connected Services/ServiceReference1/InventoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InventoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InventoryWCFService.InventoryBO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISalesman_InsertNewSalesman_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewSalesman" />
  </wsdl:message>
  <wsdl:message name="ISalesman_InsertNewSalesman_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewSalesmanResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesman_UpdateSalesmanInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSalesmanInfo" />
  </wsdl:message>
  <wsdl:message name="ISalesman_UpdateSalesmanInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSalesmanInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesman_DeleteSalesmanInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSalesmanInfo" />
  </wsdl:message>
  <wsdl:message name="ISalesman_DeleteSalesmanInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSalesmanInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomer_InsertNewCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomer_InsertNewCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomer_UpdateCustomerInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerInfo" />
  </wsdl:message>
  <wsdl:message name="ICustomer_UpdateCustomerInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomer_DeleteCustomerInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerInfo" />
  </wsdl:message>
  <wsdl:message name="ICustomer_DeleteCustomerInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IOrders_InsertNewOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewOrder" />
  </wsdl:message>
  <wsdl:message name="IOrders_InsertNewOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrders_UpdateOrdersInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrdersInfo" />
  </wsdl:message>
  <wsdl:message name="IOrders_UpdateOrdersInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrdersInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IOrders_DeleteOrdersInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrdersInfo" />
  </wsdl:message>
  <wsdl:message name="IOrders_DeleteOrdersInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrdersInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="ISalesman">
    <wsdl:operation name="InsertNewSalesman">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesman/InsertNewSalesman" message="tns:ISalesman_InsertNewSalesman_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesman/InsertNewSalesmanResponse" message="tns:ISalesman_InsertNewSalesman_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSalesmanInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesman/UpdateSalesmanInfo" message="tns:ISalesman_UpdateSalesmanInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesman/UpdateSalesmanInfoResponse" message="tns:ISalesman_UpdateSalesmanInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSalesmanInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesman/DeleteSalesmanInfo" message="tns:ISalesman_DeleteSalesmanInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesman/DeleteSalesmanInfoResponse" message="tns:ISalesman_DeleteSalesmanInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ICustomer">
    <wsdl:operation name="InsertNewCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/InsertNewCustomer" message="tns:ICustomer_InsertNewCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/InsertNewCustomerResponse" message="tns:ICustomer_InsertNewCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/UpdateCustomerInfo" message="tns:ICustomer_UpdateCustomerInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/UpdateCustomerInfoResponse" message="tns:ICustomer_UpdateCustomerInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/DeleteCustomerInfo" message="tns:ICustomer_DeleteCustomerInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/DeleteCustomerInfoResponse" message="tns:ICustomer_DeleteCustomerInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IOrders">
    <wsdl:operation name="InsertNewOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrders/InsertNewOrder" message="tns:IOrders_InsertNewOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrders/InsertNewOrderResponse" message="tns:IOrders_InsertNewOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrdersInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrders/UpdateOrdersInfo" message="tns:IOrders_UpdateOrdersInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrders/UpdateOrdersInfoResponse" message="tns:IOrders_UpdateOrdersInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrdersInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrders/DeleteOrdersInfo" message="tns:IOrders_DeleteOrdersInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrders/DeleteOrdersInfoResponse" message="tns:IOrders_DeleteOrdersInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISalesman" type="tns:ISalesman">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertNewSalesman">
      <soap:operation soapAction="http://tempuri.org/ISalesman/InsertNewSalesman" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSalesmanInfo">
      <soap:operation soapAction="http://tempuri.org/ISalesman/UpdateSalesmanInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSalesmanInfo">
      <soap:operation soapAction="http://tempuri.org/ISalesman/DeleteSalesmanInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ICustomer" type="tns:ICustomer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertNewCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomer/InsertNewCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerInfo">
      <soap:operation soapAction="http://tempuri.org/ICustomer/UpdateCustomerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerInfo">
      <soap:operation soapAction="http://tempuri.org/ICustomer/DeleteCustomerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IOrders" type="tns:IOrders">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertNewOrder">
      <soap:operation soapAction="http://tempuri.org/IOrders/InsertNewOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrdersInfo">
      <soap:operation soapAction="http://tempuri.org/IOrders/UpdateOrdersInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrdersInfo">
      <soap:operation soapAction="http://tempuri.org/IOrders/DeleteOrdersInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventoryService">
    <wsdl:port name="BasicHttpBinding_ISalesman" binding="tns:BasicHttpBinding_ISalesman">
      <soap:address location="http://localhost:8080/InventoryWCFService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ICustomer" binding="tns:BasicHttpBinding_ICustomer">
      <soap:address location="http://localhost:8080/InventoryWCFService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IOrders" binding="tns:BasicHttpBinding_IOrders">
      <soap:address location="http://localhost:8080/InventoryWCFService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>